<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<script src="js/jquery-3.2.1.js"></script>
		<script src="js/custom.js"></script>
	</head>
	<body>
	
		<div class="background" id="background">
			<div class="modalrow">
				<div class="modal" id="modal">
					
				</div>
			</div>
		</div>
		
		<header class="box row">
			<div class="lcol-12 mcol-12 scol-12">
				<div class="box">antraste</div>
			</div>
		</header>
		
		
		<nav class="box lcol-12 mcol-12 scol-12">
			<a href="index.html">Pagrindinis</a>
			<a href="kinofilmai.html">Kino filmai</a>
			<a href="dvdfilmai.html">DVD filmai</a> 
			<a href="muzika.html">Muzika</a>
			<a href="teatras.html">Teatras</a>
			<a href="apie.html">Apie</a>
		</nav>
		
		<section class="lcol-12 mcol-12 scol-12">
			<section class="leftcontent lcol-10 mcol-8 scol-12">
				<div class="lcol-12 mcol-12 scol-12">
					<section class="box">
						<article>
							<h1>Pirmàjá liepos pirmadiená LRT OPUS terasoje – „Baltasis kiras“</h1>
							<p><img class="forarticle" src="images/opus_small.jpg">Vilniuje sklando legenda, 
							kad „Baltasis Kiras“ gimë lietuviðkojo Frank Zappos – Liudo Giros – 
							kiemelyje, kuomet draugø kompanija, atðilus orui nusprendë iðeiti 
							pagroti á miestà. Pasak kolektyvo nariø (jie ilgus metus keitë 
							vieni kitus, bet grupës sudëtyje visada liko Tautvydas Paulius Augustinas), 
							jie visi pirmiausiai yra draugai. Draugai, mylintys muzikà ir rokenrolà.</p>
							<p>„Muzika gimsta galvojant apie svarbius þmones ar reiðkinius. Ji eina iðvien 
							su jausmu, kuris veda link savojo lizdo – namø, kuriuose visada nesveikai 
							gera ir ramu,“ – teigia Tautvydas.</p>
						</article>
					</section>
				</div>
				<section class="lcol-12 mcol-12 scol-12">
					<div class="qanswercontent lcol-6 mcol-6 scol-12">
						<section class="box">
							Naujienos
						</section>
					</div>
					<div class="qanswercontent lcol-6 mcol-6 scol-12">
						<section class="box">
							Naujienos
						</section>
					<div>
				</section>

				
				<section class="lcol-12 mcol-12">
				
					<div class="qanswercontent lcol-3 mcol-6">
						<article class="box">
							Klausimas1
							Atsakymas1
						</article>
					</div>
					
					<div class="qanswercontent lcol-3 mcol-6">
						<article class="box">
							Klausimas2
							Atsakymas2
						</article>
					</div>
					
					<div class="qanswercontent lcol-3 mcol-6">
						<article class="box">
							Klausimas3
							Atsakymas3
						</article>					
					</div>
					
					<div class="qanswercontent lcol-3 mcol-6">
						<article class="box">
							Klausimas4
							Atsakymas4
						</article>				
					</div>
					
				</section>
			</section>
			<section class="rightcontent lcol-2 mcol-4 scol-12">
				
				<section>
					<aside class="box">reklama<br />reklama<br />reklama<br />reklama<br />reklama<br />reklama</aside>
				</section>
				
				<section>
					<aside class="box">forma<br />forma<br />forma<br />forma<br />forma<br />forma</aside>
				</section>
				
			</section>
		</section>
		<footer class="box lcol-12 mcol-12 scol-12">Apacia</footer>
	</body>
</html>